<div class="bg-light rounded-pill">
  <div class="container">
    <div class="row text-center">
      <%= form_with url: stock_path, method: :get do |f| %>
        <h4><%= f.label :Stock, class: 'col m-2' %></h4>
        <%= f.select('symbol', options_for_select(@symbols)) %>
        <%= f.submit 'Get info', class: 'btn btn-primary m-2' %>
      <% end %>
    </div>
  </div>
</div>

<%# <%= form_tag('/stock', method: 'GET') do |form| %>
<%#   <%= select_tag('symbol', options_for_select(@symbols)) %>
<%#   <%= submit_tag 'Get your stock info' %>
<%# <% end %> 